:root {
    --background-color:#F9F1F0;
    --primary-color:#FADCD9;
    --second-color:#F8AFA6;
    --text-color:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: grid;  
    background-color: var(--background-color);
    grid-template-rows: 1fr 7fr;
    margin: 20px;
}


/* Barra de navegación */
nav {
    background-color: var(--primary-color);
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-radius: 15px;
}

.nav-h1 {
    margin-left: 25px;
}

#julia{
    font-weight: lighter;
}

ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 25px;
}

li{
    list-style: none;

}

li a{
    color: var(--text-color);
    text-decoration: none;
    
}

/* Contenido principal */
main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    
}

article{
    border-radius: 20px;
    background-color: var(--primary-color);
}

.ocupation{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4fr 3fr;
    gap: 20px;
    
}
/* tarjeta ocupación */
.card-ocupation{
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
h2 {
    margin: 1rem;
}


#f-icon{
    align-self: end;
    margin: 1rem;
    height: 40;
}

/* tarjeta imagen retrato */
.card-main-img{
    grid-column: 9/13;
}

.img{
    width: 100%;
    height: 100%;
}

/* card sobre mi */
.card-about-me{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#f-circle-icon{
    width: 15%;
    margin: 1rem;
}
.card-about-me p{
    margin: 1rem;
}

/* tarjeta contactame */
.card-contact-me{
    grid-column: 7/13;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.div-contact-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem; 
}

.icon-arrow{
    align-self: center;
    justify-self: flex-end;
}

#p-contact-me{
    margin: 1rem;
    font-size: 2.5em;
}

aside{
    display: grid;
    grid-template-rows: 6fr 1fr;
    gap: 20px;
}

footer{
    border-radius: 20px;
    background-color: var(--primary-color);
}