:root {
    --background-color:#F9F1F0;
    --primary-color:#FADCD9;
    --second-color:#F8AFA6;
    --text-color:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--background-color);
    margin: 20px;
    
}


/* Barra de navegación */
nav {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-radius: 15px;
    height: 80px;
    box-shadow: 0px 10px 30px #5f5f5f71;
    
}

.nav-h1 {
    margin-left: 25px;
}

#julia{
    font-weight: lighter;
}

ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 25px;
}

li{
    list-style: none;

}

li a{
    color: var(--text-color);
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    
}

li a:hover{
    background-color: var(--second-color);
}

/* .respmenu{
    display: none;
} */

/* Contenido principal */
main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    
}

article{
    border-radius: 20px;
    background-color: var(--primary-color);
}

.ocupation{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4fr 3fr;
    gap: 20px;
    
}
/* tarjeta ocupación */
.card-ocupation{
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
h2 {
    margin: 1rem;
}


#f-icon{
    align-self: end;
    margin: 1rem;
    height: 40;
}

/* tarjeta imagen retrato */
.card-main-img{
    grid-column: 9/13;
}

#portrait{
    width: 100%;
    height: 100%;
}

/* card sobre mi */
.card-about-me{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#f-circle-icon{
    width: 15%;
    margin: 1rem;
}
.card-about-me p{
    margin: 1rem;
}

/* tarjeta contactame */
.card-contact-me{
    grid-column: 7/13;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.div-contact-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem; 
}

.icon-arrow{
    align-self: center;
    justify-self: flex-end;
}

#p-contact-me{
    margin: 1rem;
    font-size: 2.5em;
}

/* Aqui van los projects */
aside{
    display: grid;
    grid-template-rows: 6fr 1fr;
    gap: 20px;  
    
}

.projects-table {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.projects-table div{
    display: flex;
    flex-direction: column;
    margin-inline: 1.5rem;
    border-bottom: 2px solid var(--second-color);
}

.projects-table h3{
    margin-block: 1.4rem;
    display: flex;
    justify-content: space-between;

}
#p-img{
    
    margin-bottom: 8%;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary-color);
   
}

.div-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-footer{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 2px;
    margin-inline: 5px;
    
}

.a-footer:hover{
    background-color: var(--second-color);
    border-radius: 5px;
}

/* Tamaño para celulares */

@media (max-width: 480px) {
    .ocupation{
        display: flex;
        flex-direction: column;
    }
        .nav-ul{
        display: none;
    }    
    
}

/* Tamaño para tablets */
@media (max-width: 768px) {

    main{
    display: grid;
    grid-template-columns: 1fr; 
    }
    
    
}



